<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airvantage.parse"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="net.airvantage.parse.AirVantageApplication" >
        <activity
            android:name="net.airvantage.parse.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="net.airvantage.parse.HomeActivity" 
            android:label="@string/app_name"/>
        <activity 
            android:name="net.airvantage.parse.ThingActivity" 
            android:label="@string/app_name"/>
        <activity android:name="com.facebook.LoginActivity"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" 
            android:value="@string/app_id"/>
    </application>

</manifest>
